# basic checks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: end-of-file-fixer
    exclude: ^tests/batch/_gbasf2_project_download_stdouts/
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-symlinks
  - id: no-commit-to-branch

- repo: https://gitlab.com/pycqa/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    name: Check syntax and style with flake8
