---
name: Test Default Branch
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}

    - name: Install dependencies
      run: |
        # Do all the installations
        python -m pip install --upgrade pip wheel setuptools
        pip uninstall b2luigi
        pip install -U pytest pytest-cov python-coveralls
        pip install flit
        flit install -s

        # Print out the pip versions for debugging
        pip list

    - name: Static checks of code and style with pre-commit
      uses: pre-commit/action@v2.0.0

    - name: Test with pytest
      run: |
        # Include notebook tests
        rm -rf .coverage.*
        pytest -v --cov b2luigi --junitxml=junit/test-results.xml --cov-report=xml tests

    - name: Upload pytest test results
      uses: actions/upload-artifact@v1
      with:
        name: pytest-results
        path: junit/test-results.xml
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
